

.title {
    background-color: blue;
    border: 2px solid whitesmoke;
}

.home .title {

 
}
body {
    background-color: cornflowerblue;
    background-image:  url(../images/happy-owner-dog.jpg);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
   
}

img {
    opacity: 50%;
}