
/* -----------------displayed results----------------- */

.displayedResults {
display: grid;
grid-template-columns: auto auto auto;




}

.displayedResults div{
border: 2px solid black;
background-color: grey;
font-weight: 600;
margin: 5px;
padding: 15px;


}





/* -----------------match results----------------- */

.matchDog {
    background-color: orange;
    width: fit-content;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}






/*----------------- selectors and sort----------------- */
.select-location {
    margin-bottom: 15px;
   
}

.select-dogbreed {
    margin-bottom: 15px;
}

.sort-order {
    margin-top: 15px;
    margin-bottom: 15px;
}



/* -----------------buttons----------------- */

.generate-button{
    margin-top: 15px;
    margin-bottom:15px;
}

.favoriteButton{
    margin-top: 5px;
    margin-left: 5px ;
}

/* ----------------- Page navigation  ----------------- */

